page-about {
    ion-label {
        color: #999999;
    }

    .app-icon {
        max-width: 60vw;
        max-height: 20vh;
        margin: 25px auto 20px auto;
        display: block;
    }

    ion-footer,
    ion-footer * {
        background-color: #2b2b2b !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    ion-footer {
        height: 60px;
        .toolbar-title {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    ion-footer img {
        height: 100%;
        display: block;
        max-height: 30px;
    }

    .footer-ios {
        height: 93px !important;
    }
}
