<!--
  Generated template for the Settings page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'settingsTitle' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="dark">{{ 'continiousModeTimeoutLabel' | translate }}</ion-label>
      <ion-select [(ngModel)]="continueModeTimeout">
        <ion-option *ngFor="let second of availableContinueModeTimeouts" [value]="second">{{ second }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="dark">{{ 'repeatIntervalLabel' | translate }}</ion-label>
      <ion-select [(ngModel)]="repeatInterval">
        <ion-option *ngFor="let ms of availableRepeatIntervals" [value]="ms">{{ ms }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines>
      <ion-label color="dark">{{ 'scanModeLabel' | translate }}</ion-label>
      <ion-select [(ngModel)]="scanMode">
        <ion-option *ngFor="let scanMode of getScanModeList()" [value]="scanMode">{{ getScanModeName(scanMode) }}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item text-wrap>
      <p>
        {{ 'moreOutputTemplate' | translate }} "{{ getScanModeName(getScanModeList()[0]) }}"
      </p>
    </ion-item>

    <ion-item no-lines>
      <ion-label color="dark">{{ 'acceptDuplicateBarcodes' | translate }}</ion-label>
      <ion-select [(ngModel)]="duplicateBarcodeChoice">
        <ion-option *ngFor="let choice of ['ask', 'accept', 'discard']" [value]="choice">{{ duplicateBarcodeChoiceName(choice) }}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines>
      <ion-label color="dark">{{ 'scanSessionNameLabel' | translate }}</ion-label>

      <ion-input [(ngModel)]="scanSessionName" [placeholder]="'scanSessionNameInputPlaceholder' | translate" text-right>
        {{ scanSessionName }}</ion-input>
    </ion-item>

    <ion-item text-wrap>
      <p>
        {{ 'useFollowingVariables' | translate }}
        <code>device_name, scan_session_number, date.</code><br><br>

        {{ 'example' | translate }}: <code>{{ date }}_acquisitions</code><br>
      </p>
    </ion-item>

    <ion-item no-lines>
      <ion-label color="dark">{{ 'scanSessionFilterLabel' | translate }}</ion-label>

      <ion-input [(ngModel)]="scanSessionFilter" [placeholder]="'scanSessionFilterInputPlaceholder' | translate" text-right>
        {{ scanSessionFilter }}</ion-input>
    </ion-item>

    <ion-item text-wrap>
      <p>
        {{ 'scanSessionFilterExample' | translate }}
        <code>&#94;&#92;w&#92;w-&#92;d&#92;d&#92;d&#36;</code><br><br>
      </p>
    </ion-item>

    <ion-item>
      <ion-label color="dark">{{ 'deviceNameLabel' | translate }}</ion-label>
      <ion-input [(ngModel)]="deviceName" [placeholder]="'deviceNameLabelPlaceholder' | translate" text-right>{{ deviceName }}</ion-input>
    </ion-item>

    <ion-item no-lines>
      <ion-label color="dark" text-wrap>{{ 'useDefaultScanSessionNameLabel' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="alwaysUseDefaultScanSessionName"></ion-toggle>
    </ion-item>
    <ion-item text-wrap>
      <p>{{ 'createNewScanSessionChoiceItem' | translate }}</p>
    </ion-item>

    <ion-item>
      <ion-label color="dark" text-wrap>{{ 'acquireScansessionAsBarcodeLabel' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="alwaysUseCameraForScanSessionName"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label color="dark">{{ 'preferFrontCameraLabel' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="preferFrontCamera"></ion-toggle>
    </ion-item>

    <ion-item [hidden]="platform.is('ios')">
      <ion-label color="dark">{{ 'turnTorchOnLabel' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="torchOn"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label color="dark">{{ 'keepDisplayAlwaysOnLabel' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="keepDisplayOn"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label color="dark">{{ 'enableCameraBeepLabel' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="enableBeep"></ion-toggle>
    </ion-item>

    <ion-item [hidden]="platform.is('ios')">
      <ion-label color="dark">{{ 'enableVibrationFeedbackLabel' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="enableVibrationFeedback"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label color="dark">{{ 'openAppScanModeLabel' | translate }}</ion-label>
      <ion-toggle [(ngModel)]="openScanOnStart"></ion-toggle>
    </ion-item>

    <ion-item text-wrap>
      <ion-label>
        <h2 color="dark">{{ 'limitBarcodeFormatsTitle' | translate }}</h2>
        <p>
          {{ 'limitBarcodeFormatsDescription' | translate }}
        </p>
      </ion-label>
      <ion-toggle [(ngModel)]="enableLimitBarcodeFormats"></ion-toggle>
    </ion-item>

    <div [hidden]="!enableLimitBarcodeFormats" padding-left>
      <!-- <ion-item-divider>
        Barcode formats
      </ion-item-divider> -->
      <ion-item *ngFor="let barcodeFormat of barcodeFormats">
        <ion-label color="dark">{{ barcodeFormat.name }}</ion-label>
        <ion-toggle [(ngModel)]="barcodeFormat.enabled"></ion-toggle>
      </ion-item>
    </div>

  </ion-list>
</ion-content>
