page-settings{
    code {
        font-style: italic;
    }

    ion-list-header{
      font-size: 1.9rem !important;
      font-weight: 700 !important;
      color: black !important;
      border-bottom: 1px solid rgb(219, 219, 219);
      border-top: none !important;
      margin-top: 20px !important;
      text-transform: none !important;
    }

    .stacked-input input {
      margin: 0 !important;
      border: 1px solid #d6d6d6;
      padding: 12px !important;
    }
}
