<!--
  Generated template for the Settings page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Settings</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="dark">Continue mode timeout (seconds)</ion-label>
      <ion-select [(ngModel)]="continueModeTimeout">
        <ion-option *ngFor="let second of availableContinueModeTimeouts" [value]="second">{{ second }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="dark">Repeat interval (milliseconds)</ion-label>
      <ion-select [(ngModel)]="repeatInterval">
        <ion-option *ngFor="let ms of availableRepeatIntervals" [value]="ms">{{ ms }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label color="dark">Scan mode</ion-label>
      <ion-select [(ngModel)]="scanMode">
        <ion-option *ngFor="let scanMode of getScanModeList()" [value]="scanMode">{{ getScanModeName(scanMode) }}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item no-lines>
      <ion-label color="dark">Scan session name</ion-label>

      <ion-input [(ngModel)]="scanSessionName" placeholder="Scan session name" text-right>
        {{ scanSessionName }}</ion-input>
    </ion-item>

    <ion-item text-wrap>
      <p>
        You can use the following variables (lowercase):
        <code>device_name, scan_session_number, date.</code><br><br>

        Example: <code ngNonBindable>{{ date }}_acquisitions</code><br>
      </p>
    </ion-item>

    <ion-item>
      <ion-label color="dark">Device name</ion-label>
      <ion-input [(ngModel)]="deviceName" placeholder="The name of this device" text-right>{{ deviceName }}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="dark">Always use the default Scan session name</ion-label>
      <ion-toggle [(ngModel)]="alwaysUseDefaultScanSessionName"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label color="dark">Prefer front camera</ion-label>
      <ion-toggle [(ngModel)]="preferFrontCamera"></ion-toggle>
    </ion-item>

    <ion-item [hidden]="platform.is('ios')">
      <ion-label color="dark">Turn the torch on automatically</ion-label>
      <ion-toggle [(ngModel)]="torchOn"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label color="dark">Keep display always on</ion-label>
      <ion-toggle [(ngModel)]="keepDisplayOn"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label color="dark">Enable beep on scan</ion-label>
      <ion-toggle [(ngModel)]="enableBeep"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label color="dark">Open the app in Scan mode</ion-label>
      <ion-toggle [(ngModel)]="openScanOnStart"></ion-toggle>
    </ion-item>

    <ion-item text-wrap>
      <ion-label>
        <h2 color="dark">Limit barcode formats</h2>
        <p>
          Use this setting to keep enabled only the barcode formats that you scan.
          It may improve the scanning speed and the overall reliability.
        </p>
      </ion-label>
      <ion-toggle [(ngModel)]="enableLimitBarcodeFormats"></ion-toggle>
    </ion-item>

    <div [hidden]="!enableLimitBarcodeFormats" padding-left>
      <!-- <ion-item-divider>
        Barcode formats
      </ion-item-divider> -->
      <ion-item *ngFor="let barcodeFormat of barcodeFormats">
        <ion-label color="dark">{{ barcodeFormat.name }}</ion-label>
        <ion-toggle [(ngModel)]="barcodeFormat.enabled"></ion-toggle>
      </ion-item>
    </div>

  </ion-list>
</ion-content>
