// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


$item-md-divider-color: red;
$text-input-md-show-focus-highlight: false;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #F44336,
  secondary: #B71C1C,
  danger: #f53d3d,
  archived: #9e7e7e,
  light: #f4f4f4,
  dark: #222,
  favorite: #69BB7B,
  text: #ffffff,
  info: #e4e4e4,
  edit: #2672b1,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


.md {


  .button-ok {
    color: white !important;
    background-color: map-get($colors, primary) !important;
    min-width: 10rem;
    text-align: center !important;
  }

  .button-ok .button-inner {
    justify-content: center !important;
  }

  .alert-button-stacked {
    margin: 8px 8px 0 0 !important;

    .button-inner {
      justify-content: center !important;
    }
  }

  .alert-get-field .alert-message {
    color: map-get($colors, dager) !important;
  }

  .alert-button.btp-btn-solid {
    margin: 0 8px 14px 0;
  }

  .btp-prominet-disclosure {
    .alert-head {
      padding: 13px;
    }

    img {
      width: 23px;
      margin: 6px 2px 0 -4px;
    }

    h1 {
      font-size: 1.7rem !important;
      font-weight: 700;
      margin-top: 0px;
      margin-bottom: 15px;
    }

    h2 {
      color: #000 !important;
      font-size: 18px;
    }

    .permission-header {
      display: flex;
      align-items: center;
    }

    .alert-message {
      max-height: 300px;
    }
  }



  /* ALERT component */
  .button-alert {
    margin-top: 20px !important;
  }

  .button-alert * {
    justify-content: center !important;
  }

  .dialog-pda-icon {
    height: 128px;
    margin: 0 auto 5px auto;
    text-align: center;
    display: block;
    padding: 0;
  }
}

.ios {
  ion-fab {
    margin-right: 25px !important;
    margin-bottom: 30px !important;
    filter: drop-shadow(6px 6px 10px #00000058);
  }
}


.md ion-list-header {
  font-size: 1.9rem !important;
  font-weight: 700 !important;
  color: black !important;
  border-bottom: 1px solid rgb(219, 219, 219);
  border-top: none !important;
  margin-top: 20px !important;
  text-transform: none !important;
}

.btp-stacked-input input {
  margin: 0 !important;
  border: 1px solid #d6d6d6;
  padding: 12px !important;
}


// btp-toast
.md {
  .scroll-content {
    padding-top: 10px;
  }

  ion-fab {
    margin-bottom: 10px;
  }
}

.ios {
  .scroll-content>* {
    margin-top: 10px
  }
}

// Cookie consent
#qc-cmp2-main>div {
  width: 90vw;
  max-width: 300px;
  height: 70vh;
  min-height: 300px;
  border: 1px solid #d6d6d6;
  margin: auto;
  display: block;
  position: relative;
  top: 78px;
  box-shadow: 0 0 0 900px rgba(0, 0, 0, 0.4);
  border-radius: 20px !important;

  h2 {
    padding: 10px 0;

  }
}

#qc-cmp2-ui button {
  border-radius: 100px !important;
  box-shadow: none !important;
  // set ionic classes: button-outline-md btp-btn-solid
  font-weight: bold;
}

#qc-cmp2-ui button[mode="primary"] {
  background-color: map-get($colors, primary);
  color: white;
  border-color: map-get($colors, primary);
}

#qc-cmp2-ui button[mode="secondary"] {
  background-color: map-get($colors, text);
  border-color: map-get($colors, primary);
  color: map-get($colors, primary);
}

#qc-cmp2-ui button[mode="link"] {
  text-decoration: underline;
  font-weight: normal;
}

// BTPv2 alert
.btpv2-alert {
  @media screen and (max-height: 400px) {
    padding-top: 8px !important;
  }

  .button-md {
    border-radius: 100px !important;
    box-shadow: none !important;
  }

  ion-item-options .button-md {
    border-radius: 0 !important;
  }

  .alert-input-group {
    padding-bottom: 8px !important;
  }

  .alert-head {
    padding-bottom: 0 !important;
  }

  .alert-wrapper {
    border-radius: 20px !important;
    width: 85vw !important;
    max-width: 350px !important;
    justify-content: space-between !important;
    min-height: 210px;
  }

  .alert-message {
    color: #4f4f4f !important;
    margin-top: 10px;
    padding-bottom: 0 !important;
  }

  .btpv2-btn {
    justify-content: center !important;
    margin: 8px 0 0 0 !important;
    text-align: center !important;

    .button-inner {
      justify-content: center !important;
    }
  }

  .alert-button-group {
    flex-direction: column !important;
    padding: 0px 23px 23px 23px !important;
    margin: 15px 0 0 0 !important;
  }

  .alert-checkbox-group {
    border: none !important;
    margin: 11px 0 -11px 11px !important;
  }

  .btpv2-btn-primary {
    background-color: map-get($colors, primary) !important;
    color: map-get($colors, text) !important;
    border-radius: 100px !important;
  }

  .btpv2-btn-cancel {
    border: 1px solid map-get($colors, primary) !important;
    color: map-get($colors, primary) !important;
    border-radius: 100px !important;
  }

  .btpv2-btn-text-cancel {
    color: #878787 !important;
    text-transform: none !important;
    text-decoration: underline !important;
    font-weight: normal !important;
    padding: 5px 0 0px 0 !important;
  }

  .btpv2-btn-text-cancel.activated {
    background-color: transparent !important;
  }

  .alert-input {
    border: 1px solid map-get($colors, info) !important;
    border-radius: 4px !important;
    padding: 10px !important;
  }

  .alert-input:focus {
    border: 1px solid map-get($colors, primary) !important;
  }
}

.btp-get-more-scans-alert {
  img {
    opacity: .6;
    width: 16px;
    margin: 8px 1px -3px 0;
  }
}

// formbricks
a[href="https://formbricks.com?utm_source=survey_branding"] {
  display: none !important;
}
// .fb-formbricks-form > div {
//   background: #0000008f;
// }
#fbjs {
  div {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important
  }
}
