<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'selectServerTitle' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only [hidden]="servers.length == 0">
        <ion-spinner color="text"></ion-spinner>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-item-divider color="light">{{ 'serverlistItemDivider' | translate }}</ion-item-divider>

  <ion-spinner class="main-spinner" color="primary" [hidden]="servers.length != 0 || offlineMode"></ion-spinner>

  <div [hidden]="!offlineMode" text-center class="offline-mode">
    <h1>{{ 'switchOnlineModeTitle' | translate }}</h1>
    <p>{{ 'switchOnlineMode' | translate }}</p>
    <button ion-button color="primary" (click)="init(false)">{{ 'onlineModeTitle' | translate }}</button>
  </div>

  <ion-list [hidden]="servers.length == 0 || offlineMode" radio-group [(ngModel)]="selectedServer" class="server-list">
    <ion-item *ngIf="!servers">
      {{ 'emptyItemTitle' | translate }}
    </ion-item>
    <ion-item-sliding *ngFor="let server of servers; let i = index;">
      <ion-item (press)="onItemPressed(server,i )">
        <ion-avatar class="status-icon" item-left>
          <ion-icon [name]="getServerIcon(server)" [style.color]="getServerColor(server)"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{ server.name }}</h2>
          <p>{{ getReadableAddress(server) }}</p>
          <!-- <p>online: {{ server.online  }} </p> -->
        </ion-label>
        <ion-radio [value]="server" (ionSelect)="onSelectServerChanged()"></ion-radio>
      </ion-item>

      <!-- <ion-item-options side="right" *ngIf="platform.is('ios')"> -->
      <ion-item-options side="right">
        <button ion-button color="info" (click)="info(server)">
          <ion-icon name="information-circle"></ion-icon>
          {{ 'infoButton' | translate }}
        </button>

        <button ion-button color="edit" (click)="rename(server)">
          <ion-icon name="create"></ion-icon>
          {{ 'renameButton' | translate }}
        </button>

        <button ion-button color="danger" (click)="deleteServer(server)">
          <ion-icon name="trash"></ion-icon>
          {{ 'deleteButton' | translate }}
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
  <!-- <br>Servers: {{ servers | json }}<br><br>
  Reconnecting: {{ serverProvider.reconnecting }} -->

  <!-- Empty divider -->
  <ion-item-divider color="light"></ion-item-divider>

  <button class="action-button" ion-button icon-start text-center (click)="onScanQRCodeClicked()">
    <ion-icon name="qr-scanner"></ion-icon> {{ 'qrPairingButton' | translate }}
  </button>
  <button class="action-button" ion-button icon-start text-center (click)="onAddManuallyClicked()">
    <ion-icon name="add"></ion-icon> {{ 'addServerButton' | translate }}
  </button>
  <button class="action-button" ion-button outline icon-start text-center (click)="init(true)" [disabled]="offlineMode">
    <ion-icon name="remove-circle-outline"></ion-icon> {{ 'offlineModeButton' | translate }}
  </button>

</ion-content>
