page-select-server {
  position: relative;
}

.main-spinner {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px;
}

.status-icon {
    margin: 11px 0 0 0 !important;
    font-size: 1.5em !important;
}